/* ===== WRAPPER ===== */
.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 282px;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    flex-shrink: 0;
}

/* ===== AREA KANAN ===== */
.admin-main {
    flex: 1;
    background: #f9fafb;
    display: flex;
    flex-direction: column;
}

/* ===== NAVBAR ===== */
.admin-navbar {
    height: 100px;
    background: #ffffff;

    /* INI YANG BIKIN GARIS KE POTONG */
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
}

/* JUDUL */
.navbar-title {
    font-size: 32px;
    font-weight: 700;
    color: #2f4f4f;
    margin: 0;
}

/* ICON */
.navbar-icons {
    display: flex;
    gap: 24px;
}

.navbar-icons img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    
}

/* ✅ Khusus icon jam (active) */
.navbar-icons img.icon-active {
    border: 1.5px solid #1fa7a6;   /* hijau tipis */
    border-radius: 8px;
    padding: 6px;
    box-sizing: border-box;
    background: transparent;
}

.navbar-icons img:hover {
    transform: scale(1.15);
}

.navbar-left {
    margin-left: 290px; 
     display: flex;
    align-items: center;
}


/* ===== CONTENT ===== */
.admin-content {
    margin-left: 280px;  
    padding: 24px 40px;
}


/* ===== WELCOME CARD ===== */
.welcome-card {
    background: #2b9aa0;
    border-radius: 10px;

    padding: 10px 20px;
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* ukuran lebih kecil */
    max-width: 1535px;

    /* geser ke kanan */
    margin-left: auto;

    box-sizing: border-box;
}

.welcome-text {
    width: auto;
}

.welcome-text h2 {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.welcome-text p {
    color: #e6f6f7;
    font-size: 18px;
    line-height: 1.5;
}

.welcome-image img {
    width: 125px;
    height: auto;
}

/* ===== STATISTIK GRID ===== */
.stat-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    margin-top: 24px;
}

/* ===== CARD ===== */
.stat-card {
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
    width: 100%;
    min-height: 90px;

    transition: transform .2s ease, box-shadow .2s ease;
    justify-content: space-between;
}

.stat-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 12px 28px rgba(0,0,0,.18);
}

/* WARNA */
.stat-card.blue {
    background: #3b82f6;
}

.stat-card.yellow {
    background: #fbbf24;
}

.stat-card.green {
    background: #2b9aa0;
}

.stat-text span {
    display: block;        
    font-size: 25px;
    opacity: .9;
    margin-bottom: 6px;   
    line-height: 2; 
}

.stat-text p {
    font-size: 15px;       
    margin-bottom: 10px;   
}

.stat-text h3 {
    font-size: 35px;
    font-weight: 700;
    margin-top: 0;        
}

.stat-text span { margin-bottom: 4px; }
.stat-text p    { margin-bottom: 8px; }


/* ICON */
.stat-icon {
    background: rgba(255,255,255,0.25);
    padding: 17px;
    border-radius: 15px;
    margin-right: 16px;
}

.stat-icon img {
    width: 40px;
    height: 40px;
}

/* ===== TABLE CARD ===== */
.table-card {
    background: #ffffff;
    border-radius: 18px;
    padding: 32px;
    margin-top: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,.04);
}

/* TABLE HEADER */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin-bottom: 40px;
}

.table-header h3 {
    font-size: 28px;
    font-weight: 700;
}

/* SEARCH */
.table-search {
    display: flex;
    align-items: center;
    gap: 10px;

    background: #f9fafb;          /* abu muda */
    border-radius: 999px;         /* pill */
    padding: 10px 16px;

    width: 320px;
}

.table-search img {
    width: 18px;
    height: 18px;
    opacity: 0.8;
}

.table-search input {
    border: none;
    outline: none;
    background: transparent;

    font-size: 15px;
    color: #374151;
    width: 100%;
}

.table-search input::placeholder {
    color: #9ca3af;
}


/* TABLE */
.aspirasi-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;   /* jarak antar row */
}

.aspirasi-table thead {
    background: #2b9aa0;
    color: white;
}

.aspirasi-table th{
    padding: 19px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.aspirasi-table td {
    padding: 17px;
    text-align: center;
    font-size: 17px;
    font-weight: 450;
}

.aspirasi-table tbody tr {
    border-bottom: 1px solid #e5e7eb;
}

.aspirasi-table tbody tr {
    transition: 
        background-color 0.2s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.aspirasi-table tbody tr:hover {
    background-color: #f0fdfa;           /* hijau muda */
    transform: translateY(-2px);         /* naik dikit */
    box-shadow: 0 6px 16px rgba(0,0,0,.08);
    cursor: pointer;
}


/* ACTION */


.btn-aksi img {
    width: 30px;
    opacity: 0.8;
    
}

.btn-aksi {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 1px;
    border-radius: 1px;
    cursor: pointer;
}

/* FOOTER */
.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    color: #6b7280;
}

/* PAGINATION */
.pagination {
    display: flex;
    gap: 8px;
}

.pagination button {
    border: 1px solid #e5e7eb;
    background: white;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.pagination .active {
    background: #14b8a6;
    color: white;
}

.empty-table {
    text-align: center;
    padding: 40px 0;
    color: #94a3b8;
    font-size: 14px;
}

.empty-table p {
    margin: 0;
}

.empty-link {
    display: block;
    padding: 20px;
    text-align: center;
    color: #64748b;
    text-decoration: none;
}

.empty-link:hover {
    color: #2b9aa0;
}

/* ===== ASPIRASI ===== */
.page-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* TOOLBAR */
.aspirasi-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f1f5f9;
    padding: 10px 14px;
    border-radius: 12px;
    width: 320px;
}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.toolbar-right {
    display: flex;
    gap: 12px;
}

.btn-filter {
    background: #2b9aa0;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.sort-select {
    padding: 10px 14px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
}

/* STATUS TAB */
.status-tab {
    display: flex;
    gap: 24px;
    margin-bottom: 12px;
}

.tab-item {
    cursor: pointer;
    font-weight: 600;
    padding-bottom: 8px;
}

.tab-item.active {
    border-bottom: 3px solid #2b9aa0;
}

.tab-item.menunggu {
    color: #dc2626;
}

.tab-item.diproses {
    color: #f59e0b;
}

/* STATUS BADGE*/
.status-badge {
    padding: 6px 14px;
    border-radius: 999px;
    font-weight: 600;
    font-size: 13px;
}

.status-badge.menunggu {
    background: #fee2e2;
    color: #b91c1c;
}

.status-badge.diproses {
    background: #fef3c7;
    color: #b45309;
}

/* AKSI */

.btn-aksi {
    border: none;
    background: none;
    cursor: pointer;
}

.status-tab {
    position: relative;
    z-index: 10;
}

.tab-item {
    position: relative;
    z-index: 11;
    pointer-events: auto;
}

/* ===== DATA SISWA ===== */

/* ===== AKSI COLUMN ===== */
.aksi-cell {
    text-align: center;
}

/* ===== RESET LINK (UPGRADE) ===== */
.reset-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 6px 14px;
    font-size: 13px;
    font-weight: 600;

    background: #2f9e9e;
    color: #ffffff;

    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;

    transition: all 0.2s ease;
}

.reset-link img {
    width: 20px;
    filter: brightness(0) invert(1);
}

.reset-link:hover {
    background: #238b8b;
    text-decoration: none;
    transform: translateY(-1px);
}

.reset-link:active {
    transform: scale(0.97);
}


/* ===== MODAL GLOBAL ===== */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-overlay.show {
    display: flex;
}

.modal-card {
    background: white;
    width: 360px;
    padding: 30px 24px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 20px 50px rgba(0,0,0,.2);
}

/* ICON */
.modal-icon {
    width: 60px;
    height: 60px;
    margin: 0 auto 16px;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.modal-icon.danger {
    border: 3px solid red;
    color: red;
}

.modal-icon.success {
    border: 3px solid #2b9aa0;
    color: #2b9aa0;
}

.modal-card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.modal-card p {
    font-size: 14px;
    color: #555;
}

/* BUTTON */
.modal-actions {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.btn-cancel {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #d1d5db;
    background: white;
    cursor: pointer;
}

.btn-danger {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

/* PASSWORD */
.new-password {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 700;
}

/* ===== RESET SANDI BUTTON ===== */
.btn-reset-sandi {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    padding: 6px 14px;
    font-size: 13px;
    font-weight: 600;

    background: #2f9e9e;
    color: #ffffff;

    border: none;
    border-radius: 8px;
    cursor: pointer;

    transition: all 0.2s ease;
}

.btn-reset-sandi img {
    width: 16px;
    filter: brightness(0) invert(1);
}

.btn-reset-sandi:hover {
    background: #238b8b;
    transform: translateY(-1px);
}

.btn-reset-sandi:active {
    transform: scale(0.97);
}

/* ================================================= */
/* ========== FIX UKURAN GAMBAR DI TABEL ============ */
/* ================================================= */

/* td bukti */
.aspirasi-table td img.bukti-img{
    width: 90px !important;      /* ⬅️ KECIL */
    height: 60px !important;     /* ⬅️ BIKIN ROW PENDEK */
    object-fit: cover;           /* rapi */
    border-radius: 8px;
    display: block;
    margin: auto;
}

/* optional hover */
.aspirasi-table td img.bukti-img:hover{
    transform: scale(1.05);
    transition: transform .2s ease;
}

table{
    position: relative;
    z-index: 1;
}

.table-card{
    position: relative;
    z-index: 1;
}

/* ===== HISTORY PAGE ===== */
.history-header {
    background: #1fa4a9;
    color: white;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-toolbar {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
}

.history-table th {
    background: #1fa4a9;
    color: white;
    padding: 12px;
}

.history-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.bukti-img {
    width: 60px;
    border-radius: 6px;
}

.badge-status {
    padding: 6px 12px;
    border-radius: 999px;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
}

.badge-status.selesai {
    background-color: #d1fae5;   /* hijau muda */
    color: #065f46;              /* hijau tua */
}
