* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
}

.login-wrapper {
    height: 100vh;
    background:
        linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
        url('/img/fotosekolah.png') center center / cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

/* CARD */
.login-card {
    background: #fff;
    border-radius: 16px;
    padding: 32px;
    width: 380px;
    z-index: 1;
}

/* HEADER */
.login-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
}

/* TEXT */
h2 {
    text-align: center;
    margin-bottom: 6px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

/* FORM */
.form-group {
    margin-bottom: 18px;
}

.form-group label {
    font-weight: bold;
}

.form-group span {
    color: red;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}

/* ERROR */
.form-group.error input {
    border-color: red;
}

.error-text {
    color: red;
    font-size: 13px;
    margin-top: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* PASSWORD */
.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    z-index: 10;
}

/* BUTTON */
.btn-login {
    width: 100%;
    padding: 12px;
    background: #23979F;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    cursor: pointer;
}

.btn-login:hover {
    opacity: 0.9;
}

/* REGISTER */
.register-text {
    text-align: center;
    margin-top: 16px;
}

.register-text a {
    color: #0057ff;
    text-decoration: none;
    font-weight: bold;
}

/* HIDE BROWSER PASSWORD ICON */

/* Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
    display: none;
}

/* Chrome */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button {
    display: none !important;
}
